:root {
    --font: -apple-system, BlinkMacSystemFont, "arial", "Helvetica Neue",
      sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  .hide {
    display: none;
  }
  

  
  body {
    text-align: center;
    font-family: var(--font);
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding-top: 80px;
  }
  
  
  .bpm {
    font-size: 100px;
    color: black;
  }

  .bpmAvg {
    font-size: 100px;
    color: black;
  }
  
  .ui {
    width: 60%;
    
  }
  
  .uiContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button {
    color: #fff;
    margin: 10px;
    outline: none;
    cursor: pointer;
    font-size: 30px;
    background: #5dbea3;
    padding: 10px 20px;
    border-color: #5dbea3;
    border-radius: 1vh;
  }
  
  .error {
    margin-top: 10px;
  }
  
  .start-button {
    background-color: #33b249;
  }

  .pause-button {
    background-color: #dd7973;
  }